<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, ipsum. Illo, repudiandae eum deserunt blanditiis officia cumque ex saepe quasi aut vero quia tenetur nobis accusantium harum labore voluptate dolorum?</p>